<app-toolbar></app-toolbar>
<div class="container">
    <div class="display-4 mt-5 mb-5">Área de descargas</div>
    <div class="dropdown mb-2" *ngIf="false">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Seleccione su kit
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Kinderbot</a>
            <a class="dropdown-item" href="#">R-500</a>
            <a class="dropdown-item" href="#">R-501</a>
            <a class="dropdown-item" href="#">R-502</a>
            <a class="dropdown-item" href="#">R-503</a>
            <a class="dropdown-item" href="#">R-503 Agro</a>
            <a class="dropdown-item" href="#">R-503 Industria</a>
            <a class="dropdown-item" href="#">R-504</a>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary mr-2" type="button" data-toggle="collapse" data-target="#programas"
            aria-expanded="true" aria-controls="programas">
            Programas
        </button>
        <button class="btn btn-primary mr-2" type="button" data-toggle="collapse" data-target="#armados"
            aria-expanded="false" aria-controls="armados">
            Firmware
        </button>
        <button class="btn btn-primary mr-2" type="button" data-toggle="collapse" data-target="#actividades"
            aria-expanded="false" aria-controls="actividades" *ngIf="false">
            Actividades
        </button>
    </div>
    <div class="collapse" id="programas">
        <div class="card card-body">
            <div class="h2 mb-2">Programas</div>
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mBlock - Windows</h5>
                            Plataforma de desarrollo mBlock
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/win32/V5.2.0.exe" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mBlock - MAC</h5>
                            Plataforma de desarrollo mBlock
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/darwin/V5.2.0.pkg" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mLink versión 2.1.0 - Windows</h5>
                            Utilizado para trabajar desde el navegador
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/win32/mLink2-V2.1.0.exe" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mLink versión 2.1.0 - MAC</h5>
                            Utilizado para trabajar desde el navegador
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/darwin/mLink2-V2.1.0.dmg" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mLink versión 1.2.0 - GNU/Linux</h5>
                            Utilizado para trabajar desde el navegador en GNU/Linux - Paquete DEB
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/linux/mLink-1.2.0-amd64.deb" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mLink versión 1.2.0 - GNU/Linux</h5>
                            Utilizado para trabajar desde el navegador en GNU/Linux - Paquete RPM
                        </div>
                        <a href="https://dl.makeblock.com/mblock5/linux/mLink-1.2.0-1.el7.x86_64.rpm" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">mLink versión 1.2.0 - Chromebook</h5>
                            Utilizado para trabajar desde el navegador en Chromebook
                        </div>
                        <a href="https://chrome.google.com/webstore/detail/mlink/jmmkbcfakiendpnceenfanaebjenjene" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Driver - Windows 64 bits</h5>
                            Utilizado para trabajar desde el navegador en Chromebook
                        </div>
                        <a href="http://www.misladrillos.com/images/educacion/programas/DRVSETUP64.exe" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse" id="armados">
        <div class="card card-body">
            <div class="h2 mb-2">Firmware</div>
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Kinderbot</h5>
                            <p>Firmware para la utilización del Kinderbot</p>
                            <p>Versión: 0.0.2</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/ml_kinderbot.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R1</h5>
                            <p>Firmware para la utilización del Core R1</p>
                            <p>Versión: 0.0.1</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r1.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R2</h5>
                            <p>Firmware para la utilización del Core R2</p>
                            <p>Versión: 0.0.4</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r2.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R6</h5>
                            <p>Firmware para la utilización del Core R6</p>
                            <p>Versión: 0.0.1</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r6.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R8 ( 4 pines )</h5>
                            <p>Firmware para la utilización del Core R8</p>
                            <p>Versión: 0.0.4</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r8.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R8+ ( 6 pines )</h5>
                            <p>Firmware para la utilización del Core R8+</p>
                            <p>Versión: 0.0.2</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r8_plus.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Core R8+b ( 6 pines )</h5>
                            <p>Firmware para la utilización del Core R8+b</p>
                            <p>Versión: 0.0.1</p>
                        </div>
                        <a href="http://misladrillos.com/images/educacion/firmware/mis_ladrillos_r8_plus_bluetooth.mext" target="_blank" class="btn btn-secondary">Descargar</a>
                    </div>
                </li>
            </ul>
            <h5 class="mt-5">Instrucciones para la actualización</h5>
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item">1- Descargar el archivo correspondiente al bloque lógico</li>
                <li class="list-group-item">2- Abrir el mBlock</li>
                <li class="list-group-item">3- Arrastrar el archivo descargado a la ventana del mBlock</li>
                <li class="list-group-item">4- Reiniciar el mBlock</li>
            </ul>
            <button class="btn btn-primary" (click)="abrir('https://youtu.be/ypC1yqgmiSo')">Ver instructivo en video</button>
        </div>
    </div>
    <div class="collapse" id="actividades">
        <div class="card card-body">
            <div class="h2 mb-2">Actividades</div>
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Aún lo estamos preparando</h5>
                            Estate atento, pronto vamos a estar subiendo actividades.
                        </div>
                        <a href="http://" class="btn btn-secondary" *ngIf="false">Iniciar</a>
                    </div>
                </li>
                <li class="list-group-item" *ngIf="false">
                    <div class="media">
                        <img src="..." class="mr-3" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Actividad 1</h5>
                            ¿Me ayudás a que el gato se duerma?
                        </div>
                        <a href="http://" class="btn btn-secondary">Iniciar</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    
</div>