<style>
    .kinderbot{
        background-color: #71B748; 
        color: white;
        border-color: #71B748;
    }
    .kinderbot:hover{
        background-color: #51A718; 
        color: white;
    }

    .r501{
        background-color: #78A0CE; 
        color: white;
        border-color: #78A0CE;
    }
    .r501:hover{
        background-color: #5880AE; 
        color: white;
    }

    .r502{
        background-color: #5555CC; 
        color: white;
        border-color: #3535AC;

    }
    .r502:hover{
        background-color: #3535AC; 
        color: white;
    }

    .r504{
        background-color: #ED2024; 
        color:white;
        border-color: #ED2024;
    }
    .r504:hover{
        background-color: #CD0004; 
        color:white;
    }

    .bg_image{
        background: url(../../../assets/images/kinder_dino.png)  50% 175px no-repeat;
        background-size:100% auto;
    }
    .bg_image2{
        background: url(../../../assets/images/ballena_droid.png)  50% 175px no-repeat;
        background-size:100% auto;
    }
    .bg_image3{
        background: url(../../../assets/images/puente_trio.png)  50% 0px no-repeat;
        background-size:100% auto;
    }
    .bg_image4{
        background: url(../../../assets/images/box_garra.png)  50% 0px no-repeat;
        background-size:100% auto;
    }
    .bg_image5{
        background: url(../../../assets/images/kinderbot-2-laterales-magne-2.jpg)  50% 0px no-repeat;
        background-size:100% auto;
    }
    .bg_image6{
        background: url(../../../assets/images/R503-MetalBot-tanque-explotada-1.jpg)  50% 0px no-repeat;
        background-size:100% auto;
    }
</style>
<app-toolbar-salvatore></app-toolbar-salvatore>
<!--DESKTOP-->
<div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <h3 style="height: 25px;"></h3>
    <div class="row justify-content-center">
        <div class="col-md-3 bg_image5">
        </div>
        <div class="col-md-9">
            <p>From Mis Ladrillos we intend to be a tool to develop the capacities of future generations.
                In addition to contributing to the change of the educational paradigm, expanding human development opportunities for future generations in Latin America. To be a benchmark for technological innovation in the field of education for the region.
                Our proposal considers all the necessary aspects for a comprehensive implementation.
            </p>
        </div>
    </div>
    <h3></h3>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #71B748; color: white;">
                    <div class="text-center">Pre-K and K1</div>
                </div>
                <div class="card-body bg_image">
                    <a type="button" class="btn btn-success btn-lm btn-block kinderbot"
                    href="http://misladrillos.com/ml/manuales/brochures/Kinderbot_ENGLISH.pdf" target="_blank">KINDERBOT</a>
                    <a type="button" class="btn btn-success btn-lm btn-block kinderbot" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-500_Arduino_ENGLISH.pdf" target="_blank">MAKERBOT</a>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #78A0CE; color: white;">
                    <div class="text-center">Elementary</div>
                </div>
                <div class="card-body bg_image2">
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <a type="button" class="btn btn-success btn-lm btn-block kinderbot" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-500_Arduino_ENGLISH.pdf" target="_blank">MAKERBOT</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r501" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-501_ENGLISH.pdf" target="_blank">R501</a> 
              
                    
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #5555CC; color: white;">
                    <div class="text-center">Middle School</div>
                </div>
                <div class="card-body bg_image3">
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <a type="button" class="btn btn-success btn-lm btn-block r502" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-502_ENGLISH.pdf" target="_blank">R502</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r502" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-503_ENGLISH.pdf" target="_blank">R503</a>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #ED2024; color:white;">
                    <div class="text-center">High School</div>
                </div>
                <div class="card-body bg_image4">
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <button class="btn btn-success btn-lm btn-block" style="color: transparent; border-color: transparent; background: none; cursor:default;">TEXTO</button>
                    <a type="button" class="btn btn-success btn-lm btn-block r502" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-503_ENGLISH.pdf" target="_blank">R503</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r504" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-504_MetalBot%20ENGLISH.pdf" target="_blank">R504</a>
                </div>
            </div>
        </div>
    </div>
    <h3 style="height: 50px;"></h3>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <p>
                The kit aims to work with the kids on the fundamental concepts of technology and robotics. The didactic proposals focus on the constructive, mechanical and logical aspects of robots, applying the new STEAM concept (Science, Technology, Engineering, Art, Mathematics) in the teaching of the different disciplines.
                In addition, a workshop classroom methodology is proposed that allows the development of fundamental skills for the 21st century, such as teamwork, the definition of roles and responsibilities, respect for the other, the capacity for experimentation, error as an element of learning, oral presentation and others.
            </p>
        </div>
        <div class="col-md-3 bg_image6" style="height: 250px; margin: -30px;">
        </div>
    </div>
    <h3 style="height: 50px;"></h3>
    <div></div>
</div>

<!--MOBILE-->
<div class="container d-block d-xs-block d-sm-block d-md-none">
    <h3 style="height: 25px;"></h3>
    <div class="row justify-content-center">
        <div class="col-md-12 bg_image5" style="width: 50%; height: 120px;">
            
        </div>
        <div class="col-md-12">
            <div class="contariner-fluid">From Mis Ladrillos we intend to be a tool to develop the capacities of future generations.
                In addition to contributing to the change of the educational paradigm, expanding human development opportunities for future generations in Latin America. To be a benchmark for technological innovation in the field of education for the region.
                Our proposal considers all the necessary aspects for a comprehensive implementation.
            </div>
        </div>
    </div>
    <h3 style="height: 25px;"></h3>    
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #71B748; color: white;">
                    <div class="text-center">Pre-K and K1</div>
                </div>
                <div class="card-body">
                    <a type="button" class="btn btn-success btn-lm btn-block kinderbot"
                    href="http://misladrillos.com/ml/manuales/brochures/Kinderbot_ENGLISH.pdf" target="_blank">KINDERBOT</a>
                    <a type="button" class="btn btn-success btn-lm btn-block kinderbot" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-500_Arduino_ENGLISH.pdf" target="_blank">MAKERBOT</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #78A0CE; color: white;">
                    <div class="text-center">Elementary</div>
                </div>
                <div class="card-body">
                    <a type="button" class="btn btn-success btn-lm btn-block r501" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-500_Arduino_ENGLISH.pdf" target="_blank">MAKERBOT</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r501" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-501_ENGLISH.pdf" target="_blank">R501</a> 
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #5555CC; color: white;">
                    <div class="text-center">Middle School</div>
                </div>
                <div class="card-body">
                    <a type="button" class="btn btn-success btn-lm btn-block r502" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-502_ENGLISH.pdf" target="_blank">R502</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r502" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-503_ENGLISH.pdf" target="_blank">R503</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" style="background-color: #ED2024; color:white;">
                    <div class="text-center">High School</div>
                </div>
                <div class="card-body">
                    <a type="button" class="btn btn-success btn-lm btn-block r504" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-503_ENGLISH.pdf" target="_blank">R503</a>
                    <a type="button" class="btn btn-success btn-lm btn-block r504" 
                    href="http://misladrillos.com/ml/manuales/brochures/R-504_MetalBot%20ENGLISH.pdf" target="_blank">R504</a>
                </div>
            </div>
        </div>
    </div>
    <h3 style="height: 25px;"></h3>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <p>
                The kit aims to work with the kids on the fundamental concepts of technology and robotics. The didactic proposals focus on the constructive, mechanical and logical aspects of robots, applying the new STEAM concept (Science, Technology, Engineering, Art, Mathematics) in the teaching of the different disciplines.
                In addition, a workshop classroom methodology is proposed that allows the development of fundamental skills for the 21st century, such as teamwork, the definition of roles and responsibilities, respect for the other, the capacity for experimentation, error as an element of learning, oral presentation and others.
            </p>
        </div>
        <div class="col-md-12 bg_image6" style="width: 50%; height: 250px;">
            
        </div>
    </div>
</div>
