.header-custom{
    display: none;
    background-image: url("../../../assets/images-home/header22072020.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 30%;
}

