<style>
    .med-home-capacitaciones {
        background-image: url("../../../assets/images-home/training.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;

    }

    .med-home-kits-educativos {
        background-image: url("../../../assets/images-home/r502-8.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;

    }

    .med-home-soporte {
        background-image: url("../../../assets/images-home/support.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;

    }


    .med-home-texto {
        color: #444;
        font-weight: bold;

    }

    .med-fondo {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: auto;
        text-align: left;
        padding: 20px;
    }

    .med-home-button {
        color: #fff;
        background-color: rgba(100, 100, 100, 0.8);
        height: auto;
        transition: background-color 0.5s;

    }

    .med-home-button:hover {
        color: #fff;
        background-color: rgba(180, 50, 50, 0.8);
        height: auto;
        cursor: pointer;
        border-style: solid;
        border-color: #722;
        transition: border-color 0.5s;
        transition: background-color 0.5s;
        transition: border-style 0.5s;

    }

    .med-home-button:hover>.med-flecha-mas>svg {
        margin-left: 50px;
        transition: margin 0.5s;
    }

    .med-home-button>.med-flecha-mas>svg {
        margin-left: 0px;
        transition: margin 0.5s;
    }
</style>
<app-toolbar [paginaActual]="paginaActual"></app-toolbar>
<div class="container-fluid" *ngIf="true" style="background-color: #eee; height: auto;">
    <div class="row">
        <div class="col-md-7 my-4 offset-md-1">
            <h3>{{datosJumbotron.titulo}}</h3>
        </div>
        <div class="col-md-2 my-4">
            <button type="button" class="btn btn-primary btn-md" role="button" data-toggle="modal"
                [routerLink]='datosJumbotron.link'>{{datosJumbotron.textoDelBoton}}</button>
        </div>
    </div>
</div>
<div class="header-custom">
    <button class="btn btn-primary btn-lg btn-block mb-0"
        onclick='window.open("http://www.misladrillos.com/images/educacion/capacitaciones/20200722_1er_encuentro_virtual.pdf")'>Saber
        más</button>
    <button class="btn btn-success btn-lg btn-block mt-0 mb-5"
        onclick='window.open("https://forms.gle/tyvEnzXUJpgVhsVm7")'>Inscribirme al encuentro</button>
</div>

<div class="container-fluid">
    <div class="row med-home-capacitaciones mt-4 border">
        <div class="col-md-8 my-auto med-fondo">
            <div class="col-md-2 h3 med-home-texto offset-md-1">
                Capacitaciones
            </div>
            <div class="col-md-10 h4 med-home-texto offset-md-1">
                Desarrollamos espacios de capacitaciones grupales e individuales para Instituciones Educativas y
                personales.
            </div>
        </div>
        <div class="col-md-4 my-auto text-center">
            <div class="col-md-12 h3 med-home-texto">
                <div class="med-home-button" routerLink="/training">
                    Saber más
                    <span class="med-flecha-mas">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24" fill="#fff" width="40px"
                            height="60px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
                        </svg>

                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row med-home-kits-educativos mt-4 border">
        <div class="col-md-8 my-auto med-fondo">
            <div class="col-md-4 h3 med-home-texto offset-md-1">
                Kits educativos
            </div>
            <div class="col-md-7 h4 med-home-texto offset-md-1">
                Descubra nuestros kit y todo lo que tienen para ofrecerles.
            </div>
        </div>
        <div class="col-md-4 my-auto text-center">
            <div class="col-md-12 h3 med-home-texto">
                <div class="med-home-button" routerLink="/robotics">
                    Saber más
                    <span class="med-flecha-mas">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24" fill="#fff" width="40px"
                            height="60px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
                        </svg>

                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row med-home-soporte mt-4 border">
        <div class="col-md-8 my-auto med-fondo">
            <div class="col-md-4 h3 med-home-texto offset-md-1">
                Soporte técnico
            </div>
            <div class="col-md-7 h4 med-home-texto offset-md-1">
                Acceda al soporte técnico de los kits de Robótica Educativa.
            </div>
        </div>
        <div class="col-md-4 my-auto text-center">
            <div class="col-md-12 h3 med-home-texto">
                <div class="med-home-button" routerLink="/support">
                    Saber más
                    <span class="med-flecha-mas">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24" fill="#fff" width="40px"
                            height="60px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
                        </svg>

                    </span>
                </div>
            </div>

        </div>
    </div>



</div>

<div class="container mt-3" hidden>



    <div class="card-deck row row-cols-1 row-cols-md-3">
        <div class="card-deck col mb-4">
            <div class="card">
                <img src="../../../assets/images-home/training.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Capacitaciones</h5>
                    <p class="card-text">Desarrollamos espacios de capacitaciones grupales e individuales para
                        Instituciones Educativas y personales.
                    </p>
                </div>
                <div class="card-footer btn btn-light" routerLink="/training">
                    <div class="text-md-center">Saber más</div>
                </div>
            </div>
        </div>
        <div class="card-deck col mb-4">
            <div class="card">
                <img src="../../../assets/images-home/r502-8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kits Educativos</h5>
                    <p class="card-text">Descubra nuestros kit y todo lo que tienen para ofrecerles.</p>
                </div>
                <div class="card-footer btn btn-light" routerLink="/robotics">
                    <div class="text-md-center">Saber más</div>
                </div>
            </div>
        </div>
        <div class="card-deck col mb-4">
            <div class="card">
                <img src="../../../assets/images-home/support.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soporte técnico</h5>
                    <p class="card-text">Acceda al area de atención al cliente para los kits de Robótica Educativa.</p>
                </div>
                <div class="card-footer btn btn-light" routerLink="/support">
                    <div class="text-md-center">Saber más</div>
                </div>
            </div>
        </div>
        <!--
            <div class="card-deck col mb-4">
                <div class="card">
                    <img src="/educacion/assets/images-home/school.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Instituciones Educativas</h5>
                        <p class="card-text">Encuentro todos los servicios que Mis Ladrillos Educación tiene para ofrecer.
                        </p>
                    </div>
                    <div class="card-footer btn btn-light" routerLink="/educational-institutions">
                        <div class="text-md-center">Saber más</div>
                    </div>
                </div>
            </div>
        -->
        <div class="card-deck col mb-4">
            <div class="card">
                <img src="../../../assets/images-home/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Área de descargas</h5>
                    <p class="card-text">Descarga de programas, tutoriales y actividades</p>
                </div>
                <div class="card-footer btn btn-light" routerLink="/downloads">
                    <div class="text-md-center">Saber más</div>
                </div>
            </div>
        </div>
    </div>

    <!--
        <div class="card text-center">
            <div class="card-header">
                Servicios especiales
            </div>
            <div class="card-body">
                <h5 class="card-title">Aulas Virtuales</h5>
                <p class="card-text">Nuestros espacios de capacitación son sencillos y tienen un gran potencial para los
                    usuarios</p>
                    <button type="button" class="btn btn-primary btn-lm"  role="button" data-toggle="modal"
                    data-target="#exampleModal">Registrarse</button>
            </div>
            <div class="card-footer text-muted">
                Mis Ladrillos Educación
            </div>
        </div>

    -->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">En mantenimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Estamos trabajando en esto, por favor, vuelva a intentarlo pronto.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>