<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light coso">
    <div class="container">
        
        <a class="navbar-brand" href="http://www.misladrillos.com">
            <img src="../../../assets/logo-ml-500px-transparente.png" width="80" height="38" alt="" loading="lazy">
        </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
                <li class="nav-item active">
                    <a class="nav-link">For more information contact us at info@misladrillos.com.ar or calling at (011) 45146482 / 80<span class="sr-only">(current)</span></a>
                </li>
               
            </ul>
    </div>
</nav>